practiceNew/jmsdemohsbc/src/main/app/jmsdemohsbc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ1" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="jmsdemohsbcFlow1">
        <jms:inbound-endpoint connector-ref="Active_MQ1" doc:name="JMS" queue="sampleQ"/>
        <logger message="payload is #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="jmsdemohsbcFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jmsOut" doc:name="HTTP"/>
        <set-payload value="Sample Message from mule application" doc:name="Set Payload"/>
        <jms:outbound-endpoint queue="sampleQ" connector-ref="Active_MQ1" doc:name="JMS"/>
    </flow>
</mule>
