practiceNew/jmsexceptionproject/target/classes/jmsexceptionproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://54.69.115.37:61616" validateConnections="true" maxRedelivery="3" doc:name="Active MQ"/>
    <flow name="jmsexceptionprojectFlow">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="P_ExceptionQ" connector-ref="Active_MQ" doc:name="JMS">
            <jms:transaction action="ALWAYS_BEGIN"/>
        </jms:inbound-endpoint>
        <set-payload value="Exception Message" doc:name="Set Payload"/>
        <jms:outbound-endpoint queue="P_OutQNew" connector-ref="Active_MQ" doc:name="JMS">
            <jms:transaction action="ALWAYS_JOIN"/>
        </jms:outbound-endpoint>
        <logger message="exception payload is #[payload]" level="INFO" doc:name="Logger"/>
        <component class="com.training.Sample" doc:name="Java"/>
    </flow>
</mule>
