practiceNew/choicescattergatherdemo/src/main/app/scattergather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="scattergatherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/scatter" doc:name="HTTP"/>
        <scatter-gather doc:name="Scatter-Gather">
            <set-payload value="#[new Integer(10)]" doc:name="Set Payload"/>
            <set-payload value="#[new Integer(11)]" doc:name="Set Payload"/>
            <set-payload value="#[new Integer(12)]" doc:name="Set Payload"/>
        </scatter-gather>
        <logger message="payload is #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
