24_Sept_2019_updates/java-function-app/src/main/app/java-function-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <spring:beans>
    <spring:bean name="ae" class="com.capgemini.service.AirthmeticOperation">
    
    </spring:bean>
    </spring:beans>
    
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8084" doc:name="HTTP Listener Configuration"/>
    <flow name="java-function-appFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP" allowedMethods="POST"/>
        <invoke object-ref="ae" method="add" methodArguments="#[json:a],#[json:b]" doc:name="Invoke"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="sum = #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
