practiceNew/splitterproject/src/main/app/splitterproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>

<flow name="01CollectionSplitterAndAggregatorFlow3" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/split" doc:name="HTTP"/>
        <expression-transformer expression="#[new String('hello')]" doc:name="Expression"/>
   <!--      <set-payload value="someorder" doc:name="Set Payload"/> -->
        <component class="com.mulesoft.OrderService" doc:name="OrderService"/>
        <collection-splitter doc:name="Collection Splitter" enableCorrelation="ALWAYS"/>
        <component class="com.mulesoft.OrderProcessor" doc:name="Order Processor"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.mulesoft.ResultLogger" doc:name="Result Logger">
        	<reflection-entry-point-resolver></reflection-entry-point-resolver>
        </component>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
    </flow>
    <flow name="splitterprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/for" doc:name="HTTP"/>
        <expression-transformer expression="#[new String('hello')]" doc:name="Expression"/>
        <component class="com.mulesoft.OrderService" doc:name="Java"/>
        <foreach doc:name="For Each">
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </foreach>
        <logger message="after foreach #[payload]" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>

</mule>
