practiceNew/jmsproj/target/classes/jmsproj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://54.69.115.37:61616" validateConnections="true" doc:name="Active MQ" maxRedelivery="4"/>
    <flow name="jmsprojFlow1">
        <jms:inbound-endpoint queue="Q1" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="message from puneriq #[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="Message from Flow2" doc:name="Set Payload"/>
    </flow>
   <!--  <flow name="jmsprojFlow1">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="testq" connector-ref="Active_MQ" doc:name="JMS"/>
        <set-property doc:name="Property" propertyName="JMSReplyTo" value="replyq"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="outq" connector-ref="Active_MQ" doc:name="JMS"/>
        <component class="jmsproj.SampleClass" doc:name="Java"/>
        <exception-strategy ref="jmsprojCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <catch-exception-strategy name="jmsprojCatch_Exception_Strategy"/>
  -->   <flow name="jmsprojFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jms" doc:name="HTTP"/>
        <set-payload value="jms data" doc:name="Set Payload"/>
        <set-property propertyName="JMSReplyTo" value="PuneReplyQ" doc:name="Property"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="Q1" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    
</mule>
