demoFiles/http-to-database/target/classes/http-to-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8083" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="admin" database="capdb" doc:name="MySQL Configuration"/>
    <flow name="http-to-databaseFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/myPath" doc:name="HTTP"/>
        <set-session-variable variableName="customerId" value="#[message.inboundProperties.'http.query.params'.customerId]" doc:name="Session Variable"/>
        <set-session-variable variableName="customerName" value="#[message.inboundProperties.'http.query.params'.customerName]" doc:name="Session Variable"/>
        <set-session-variable variableName="email" value="#[message.inboundProperties.'http.query.params'.email]" doc:name="Session Variable"/>
        <logger message="#[sessionVars.customerId] #[sessionVars.customerName] #[sessionVars.email]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into customer values(#[sessionVars.customerId], #[sessionVars.customerName],#[sessionVars.email])]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
