24_Sept_2019_updates/transformmessage-dataweave/target/classes/transformmessage-dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8084" doc:name="HTTP Listener Configuration"/>
    <flow name="transformmessage-dataweaveFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="post" doc:name="HTTP"/>
        <dw:transform-message metadata:id="d53ee124-e0a5-4726-b633-1c9aa01c7e9d" doc:name="Transform Message">
            <dw:input-payload doc:sample="D:\Mulesoft\DataWeave Transformation\Emp.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	Employees: {
		(payload.Employees map ((employee , indexOfEmployee) -> {
			Employee: {
				Name: employee.EmployeeName,
				Designation: employee.Designation,
				Salary: employee.Salary as :number,
				Age: employee.Age as :number
			}
		}))
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
