practiceNew/soapservice/src/main/app/soapservice.xml
<?xml version="1.0" encoding="UTF-8"?>
 
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer"  wsdlLocation="soap.wsdl" service="calculatorI" port="calculatorIPort" serviceAddress="http://localhost:8081/soap" doc:name="Web Service Consumer"/>
    <flow name="soapserviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap" doc:name="HTTP"/>
        <cxf:simple-service  serviceClass="com.training.calculatorI" doc:name="CXF"/>
        <component class="com.training.Calculator" doc:name="Java"/>
    </flow>
    <flow name="soapserviceFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soapclient" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://training.com/
---
{
	ns0#sum: {
		ns0#arg0: 10,
		ns0#arg1: 20
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="sum" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://training.com/
---
payload.ns0#sumResponse.ns0#return]]></dw:set-payload>
        </dw:transform-message>
    </flow>
  
</mule>
